.means {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.means {
  position: relative;
  span {
    margin-left: 6px;
    margin-top: 6px;
  }
  .shadow {
    position: absolute;
    color: black;
    opacity: 0.3;
    z-index: 0;
    margin-top: 0;
  }
}
